* {
  font-family: Arial; 
}

.header {
  background-color:black;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header ul li {
  display: inline;
  color: white;
}

.invisible {
  color:white; 
}

.visible {
  color:black; 
}
