* {
  font-family: Arial; 
}


#header ul {
  background-color: black;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow:hidden;
}

#header ul li {
  float: left;
}

#header ul li a {
  display: block;
  padding: 16px;
  text-decoration: none;
  text-align: center;
  color: white;
}

.invisible {
  color:white; 
}

.visible {
  color:black; 
}
